.contenedor{
    margin: auto;
}

.contenedor div{
    float: right;
    padding: 20px;
    margin: auto;
}

.primario{
    background: red;
    width: 70%;
}

.segundario{
    background: yellow;
    width: 30%;
}