.definiciones{
    margin: 20px;
}

div{
    margin: 20px;
}

.caja1{
    height: 200px;
    width: 200px;
    background: slateblue;
    transition: background 1s, height 3s, width 3s; /*Maneja en que tiempo van a ocurrir los cambios cuando ocurran los eventos.*/
    /*Para darle a todo el mismo valor usamos all*/
    transition: all 1s;
}

/*Aca dictamos lo que va a ocurrir cuando pasemos el mouse sobre el elemento*/
.caja1:hover{
    background: red;
    height: 350px;
    width: 350px;
}

.caja2{
    margin: 30px;
    display: block;
}

.caja2:link{
    color: red;
}

.caja3{
    height: 250px;
    width: 250px;
    background: red;
    margin: 80px;
}

/*Se ejecuta solo al hacer click en el elemento*/
.caja3:active{
    background: black;
}

form input{
    color: black;
    background: pink;
    transition: 2s;
}

form input:focus{
    background: red;
}