body{
    background: rgba(200,200,200,.5); /*Podemos pasar el color con numeros de rgb o rgba, la a corresponde a la opacidad.*/
}

.definiciones{
    margin: 20px;
}

.caja{
    border: 5px solid DeepSkyBlue;
    margin: 20px;
    width: auto;
    height: auto;
    background-color:DarkGoldenrod;
    padding: 5px;
}

.allink{
    display: inline;
}

h2{
    border: 5px solid green;
    margin: 20px;
    width: auto;
    height: auto;
    background-color: darkblue;
    display: inline-block;
    padding: 10px;
}