h1{
    line-height: 1px;
}

div{
    width: 100px;
    height: 100px;
    display: block;
    background: yellow;
}

.caja1{
    background-color: orange;
    position: static;
}

.caja2{
    background-color: green;
    position: relative;
}

.caja3{
    background-color: lightblue;
}

.caja4{
    background-color: yellow;
}