.subtitle{
    text-decoration: underline red;
    line-height: 3em;
}

p{
    line-height: 1em;
}

div{
    width: 120px;
    height: 120px;
    display: block;
    background: yellow;
}

.caja1{
    background-color: orange;
    position: static;
}

.caja2{
    background-color: green;
    position: relative;
    
    /*  top: 20px; /* La caja se mueve 20px pero conserva a su vez su lugar original.
        left: 20px; /* La caja se mueve 20px pero conserva a su vez su lugar original.
        bottom: 20px; /* La caja se mueve 20px pero conserva a su vez su lugar original.
        right: 20px; /* La caja se mueve 20px pero conserva a su vez su lugar original.*/
}

.caja3{
    background-color: lightblue;
    position: absolute;
    opacity: .5; /*Es la transparencia que va a tener la caja.*/
    margin-left: 250px;
}

.caja4{
    background-color: yellow;
}