/* 
Este selector selecciona todos los elementos 

* {
    color: red;
}
*/

/* 
>Selectores de Tipo 
Son aquellos que seleccionamos por elemento, o sea por h1,h2,button,p etc*/

h1 {
    color: red;
}


/*
>Selectores por clase
Son aquellos que solo cambian la clase que nosotros indicamos, al realizar una etiqueta html podemos colocar el atributo class="" y luego cuando le queremos dar el estilo en css especificamos la clase.
Para seleccionar la clase se utiliza el punto .
Modifica a todos los elementos a los que le colocamos el atributo class="xxx" indiferentemente de el tipo de elemento que sea.


.titulo-h2 {
    color: blue;
}
*/

/*
>Selector por id
Son los que seleccionamos por id del elemento o etiqueta, funciona casi igual a Class pero la idea es que el id se use de manera unica y class lo usemos de manera general o sea cuando queremos
darle el mismo estilo a mas de un elemento usamos class y para darle estilo a un solo elemento usamos id.
los ids tienen que ser unicos y no se pueden repetir.
Una de las diferencias con class es que el id tiene mas rango de especificidad.*/

#id-element {
    color: red; font-style: italic;
}

/*
>Selector por atributo
Podemos agregarle un atributo personalizado a las etiquetas y para darle estilo a esa etiqueta usando el selector de atributos se hace de la siguiente manera*/

[rancio="sii"] {
    color: aqua; border-style: dotted; border-color: blue; text-decoration-line: underline;
}

/*
>Selector por descendencia
A esta etiqueta la seleccionamos por descendencia
